# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/

# build outputs
dist/
build/

# React Native / Expo native folders
android/
ios/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Metro bundler cache
.metro-cache/
