# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Build / temp
dist/
build/
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Coverage
coverage/

# Optional lockfiles (om ni inte vill versionshantera dem)
# package-lock.json